<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.router.literouter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.module_a.ActivityA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name="com.example.module_a.ActivityA"/>-->
        <activity
            android:name="com.example.module_b.ActivityB"
            android:exported="true"> <!-- 必须允许外部跳转 -->

            <intent-filter>
                <!-- 必须与 Intent 中的 URI 完全匹配 -->
                <data
                    android:scheme="app"
                    android:host="router"
                    android:pathPrefix="/home/detail"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>